*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header{
    padding: 20px;
    width: 100%;
}

header a{
    color: #e2e2e2;
}


h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #141a35;
    color: #e2e2e2;
    padding: 10px;
    text-shadow: 0px 0px 3px #a1caff;
    font-size: 30px;

}
h2{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #141a35;
    color: #e2e2e2;
    padding: 20px;
    text-shadow: 0px 0px 3px #a1caff;
    font-size: 20px;
}
h3{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #141a35;
    color: #e2e2e2;
    padding: 5px;
    text-shadow: 0px 0px 3px #a1caff;
}

a{
    text-decoration: none;
    color: #141a35;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    position: center;
}





.principal{
    background-color: #a1caff;
    width: 100%;
}

.pprimero{
    background-image: url(./assets/estudio.jpg);
    min-height: 300px;
    background-size: cover;
    background-position: center;
    width: 100%;
    margin: 1px;
}

.psegundo{
    min-height: 250px;
    width: 100%;
}

.psegundo h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    text-transform: capitalize;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 20px
}

.psegundo p{
    font-size: 17px;
    text-align: center;
    padding: 30px;

}

.contenedor{
    height: auto;
    width: 100%;
    background-color: #76777c;
    color: #141a35;
    padding: 20px;
    text-align: center;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 0 0 5px #f2ecff;
    grid-gap: 10px;
}


.item{
    border: 2px solid #e2e2e2;
    min-height: 120px;
    width: 100%;
    filter: grayscale(100%);
    transition: all 0.7s;
}

.item:hover{
    transform: scale(1.15);
    filter: grayscale(0%);
    transition: all 0.7s;
}

.item1{
    background-image: url(./assets/penal.jpg);
    background-position: center;
    background-size: cover;
}


.item2{
    background-image: url(./assets/reuinion.jpg);
    background-position: center;
    background-size: cover;
}

.item3{
    background-image: url(./assets/historia.jpg);
    background-position: center;
    background-size: cover;
}


.item4{
    background-image: url(./assets/uba.jpg);
    background-position: center;
    background-size: cover;
}

.item5{
    background-image: url(./assets/fondo3.jpg); 
    background-position: center;
    background-size: cover;
}

@media only screen and (min-width: 320px) and (max-width: 479px){
    .contenedor{
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 480px) and (max-width: 599px){
    .principal{
        display: flex;
    }
    .contenedor{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .item1{
        grid-column: 1/3; 
        grid-row: 1/2;
    }
    .item2{
        grid-column: 2/3;
        grid-row: 2/3;

    }
    .item3{
        grid-column: 1/2;
        grid-row: 2/5;

    }
    .item4{
        grid-column: 2/3;
        grid-row: 3/4;

    }
    .item5{
        grid-column: 2/3;
        grid-row: 4/5;
    }
}

@media only screen and (min-width: 600px) and (max-width
:767px) {
    .principal{
        display: flex;
    }
    .contenedor{
        display: grid;
        grid-template-columns: 1fr 1fr
    }
    .item1{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .item2{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .item3{
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .item4{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .item5{
        grid-column: 2/3;
        grid-row: 3/4;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .principal{
        display: flex;
    }
    .contenedor{
        display: grid;
        grid-template-rows: 250px;
        grid-gap: 30px;
    }
    .item1{

        grid-column: 1/2;
        grid-row: 1/2;
    }
    .item2{

        grid-column: 1/2;
        grid-row: 2/3;
    }
    .item3{
        grid-column: 2/3;
        grid-row: 1/3;
    }
    .item4{
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .item5{
        grid-column: 3/4;
        grid-row: 2/3;
    }

}

@media only screen and (min-width: 1024px) and (max-width: 1199px){
    .principal{
        display: flex;
    }
    .contenedor{
        display: grid;
        grid-template-rows: 250px;
        grid-gap: 30px;
    }
    .item1{

        grid-column: 1/2;
        grid-row: 1/3;
    }
    .item2{

        grid-column: 1/2;
        grid-row: 3/4;
    }
    .item3{
        grid-column: 2/3;
        grid-row: 1/4;
    }
    .item4{

        grid-column: 3/4;
        grid-row: 1/3;
    }
    .item5{
        grid-column: 3/4;
        grid-row: 3/4;
    }

}

@media only screen and (min-width: 1200px){
    .principal{
        display: flex;
    }
    .contenedor{
        display: grid;
        grid-template-rows: 250px;
        grid-gap: 30px;
    }
    .item1{

        grid-column: 1/2;
        grid-row: 1/3;
    }
    .item2{

        grid-column: 1/2;
        grid-row: 3/4;
    }
    .item3{
        grid-column: 2/3;
        grid-row: 1/4;
    }
    .item4{

        grid-column: 3/4;
        grid-row: 1/3;
    }
    .item5{
        grid-column: 3/4;
        grid-row: 3/4;
    }

}

aside{
    color: #141a35;
    background-color: #e2e2e2;
}


/* <-----------------------------------------------Areas-----------------------------------------------> */


.navbar{ 
    background-color: #a1caff41;
    padding: 30px;
    display: flex;
    position: relative;
}

.navbar a{
    text-decoration: none;
    color: #e2e2e2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    margin-left: 140px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
    margin-top: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: color 0.3s;

}

ul{
    list-style-type: disc;
}

.navbar a:hover{
    color: #77777c;
}

.cuerpo{
    height: auto;
    width: 100%;
    background-color: #76777c;
    color: #e2e2e2;
    padding: 20px;
    text-align: center;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 0 0 10px #141a35;
    grid-gap: 10px;
}
.cuerpo p{
    font-size: 10px;
    color: #e2e2e2;
    padding: 30px;
}

header h2{
    font-size: 30px;
}

.nareas{
    background-color: #a1caff;
    width: 100%;
}

.nfoto{
    background-image: url(./assets/ares.jpg);
    min-height: 200px;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.nparrafo{
    min-height: 250px;
    width: 100%;
}

.nparrafo h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    text-transform: capitalize;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.nparrafo p{
    font-size: 17px;
    text-align: center;
    padding: 30px;

}

.img{
    border: 2px solid #e2e2e2;
    min-height: 120px;
    width: 100%;
    filter: grayscale(100%);
    transition: all 0.7s;
}

.img:hover{
    transform: scale(1.15);
    filter: grayscale(0%);
    transition: all 0.7s;
}

.img1{
    background-image: url(./assets/penal.jpg);
    background-position: center;
    background-size: cover;
}

.img2{
    background-image: url(./assets/laboral.jpg);
    background-position: center;
    background-size: cover;
}

.img3{
    background-image: url(./assets/tributarios.jpg);
    background-position: center;
    background-size: cover;
}

.img4{
    background-image: url(./assets/Comercial.jpg);
    background-position: center;
    background-size: cover;
}

.img5{
    background-image: url(./assets/Contratos.jpg);
    background-position: center;
    background-size: cover;
}
.img6{
    background-image: url(./assets/testamento.jpg);
    background-position: center;
    background-size: cover;
}

.img7{
    background-image: url(./assets/Divorcio.jpg);
    background-position: center;
    background-size: cover;
}

.img8{
    background-image: url(./assets/administrativo.jpg);
    background-position: center;
    background-size: cover;
}

@media only screen and (min-width: 320px) and (max-width: 479px){
    .cuerpo{
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .nareas{
        display: flex;
    }

}

@media only screen and (min-width: 480px) and (max-width: 599px){
    .cuerpo{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .nareas{
        display: flex;
    }
    }
    .img1{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .img2{
        grid-column: 2/3;
        grid-row: 1/2;

    }
    .img3{
        grid-column: 1/2;
        grid-row: 2/3;

    }
    .img4{
        grid-column: 2/3;
        grid-row: 2/3;

    }
    .img5{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .img6{
        grid-column: 2/3
        ;
        grid-row: 3/4;

    }
    .img7{
        grid-column: 1/2;
        grid-row: 4/5;

    }
    .img8{
        grid-column: 2/3;
        grid-row: 4/5;
    }


@media only screen and (min-width: 600px) and (max-width
:767px) {
    .cuerpo{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .nareas{
        display: flex;
    }
    .img1{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .img2{
        grid-column: 2/3;
        grid-row: 1/2;

    }
    .img3{
        grid-column: 3/4;
        grid-row: 1/2;

    }
    .img4{
        grid-column: 1/2;
        grid-row: 2/3;

    }
    .img5{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .img6{
        grid-column: 3/4;
        grid-row: 2/3;

    }
    .img7{
        grid-column: 1/2;
        grid-row: 3/4;

    }
    .img8{
        grid-column: 2/4;
        grid-row: 3/4;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .cuerpo{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .nareas{
        display: flex;
    }
    .img1{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .img2{
        grid-column: 2/3;
        grid-row: 1/2;

    }
    .img3{
        grid-column: 3/4;
        grid-row: 1/2;

    }
    .img4{
        grid-column: 4/5;
        grid-row: 1/2;

    }
    .img5{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .img6{
        grid-column: 2/3;
        grid-row: 2/3;

    }
    .img7{
        grid-column: 3/4;
        grid-row: 2/3;

    }
    .img8{
        grid-column: 4/5;
        grid-row: 2/3;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px){
    .cuerpo{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .nareas{
        display: flex;
    }
    .img1{
        grid-column: 1/2;
        grid-row: 1/3;
    }
    .img2{
        grid-column: 2/4;
        grid-row: 1/2;

    }
    .img3{
        grid-column: 2/3;
        grid-row: 2/4;
    }
    .img4{
        grid-column: 3/4;
        grid-row: 3/5;

    }
    .img5{
        grid-column: 1/2;
        grid-row: 4/5;

    }
    .img6{
        grid-column: 3/4;
        grid-row: 2/3;
    }
    .img7{
        grid-column: 1/2;
        grid-row: 3/4;

    }
    .img8{
        grid-column: 2/3;
        grid-row: 4/5;
    }
}

@media only screen and (min-width: 1200px){
    .cuerpo{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .nareas{
        display: flex;
    }
    .img1{
        grid-column: 1/3;
        grid-row: 1/3;
    }
    .img2{
        grid-column: 3/6;
        grid-row: 1/2;

    }
    .img3{
        grid-column: 3/5;
        grid-row: 2/4;
    }
    .img4{
        grid-column: 5/6;
        grid-row: 3/5;

    }
    .img5{
        grid-column: 1/3;
        grid-row: 4/5;

    }
    .img6{
        grid-column: 5/6;
        grid-row: 2/3;
    }
    .img7{
        grid-column: 1/3;
        grid-row: 3/4;

    }
    .img8{
        grid-column: 3/5;
        grid-row: 4/5;
    }
}

/* PROYECTO ANTERIOR */

/* header{
    height: 120px;
    width: 100%;
    background-color: #141a35
    
}

.logo{
    float: left;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px;
    margin-top: 15px;
    color: #f6f0ff;
    margin-left: 120px;
}


.barra{
    float: right;
    margin-right: 300px;
}

.barra ul li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
    margin-top: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: color 0.3s;
}

ul{
    list-style-type: disc;
}

.barra a{
    text-decoration: none;
    color: #e2e2e2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
}

.barra a:hover{
    color: #77777c;
}

/* main{
    height: calc(100vh - 80px);
    width: 100%;
    background-color: #a5cdff62;
    background-image: url(assets/fotoprincipal.jpg);
    background-size: cover;
    background-position: center;
} */

/* .cuerpo{
    color: #e2e2e2;
    text-align: center;
    text-transform: uppercase;
    width: 70%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 30px;
    background-color: #a5cdff33;
    margin-top: 50px;
    float: left;
}

.cuerpo h2{
    float: left;
    font-size: 35px;
    color: #f6f0ff;
    background-color: #a5cdff00;

}


.cuerpo p{
    margin-top: 100px;
    margin-left: 250px;
}


.cuerpo a{
    background-color: #f6f0ff;
    padding: 7px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #141a35;
    box-shadow: 0 0 10px #f6f0ff;
    margin-left: 700px;
}

.cuerpo a:hover{
    color: #77777c;
}

.principal{
    text-align: center;
    background-color: #141a35;
    color: #e2e2e2;
} */



footer{
    min-height: 120px;
    width: 100%;
    background-color: #141a35;
    text-align: center;
    font-size: 20px;
    color: #e2e2e2;
    padding: 30px;
}

footer p{
    margin-bottom: 10px;
}
footer i{
    color: #a5cdff;
    letter-spacing: 15px;
}

.redes{
    font-size: 20px;
}

.wsp{
    font-size: 50px;
    color: #e2e2e2;
    right: 10px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    position: fixed;
} */

/* AREAS */

.fondoarea{
    background-color: black;
}

.areas1{
    background-image: url(./assets/Areas.jpg);
    height: calc(100vh - 80px);
    background-size: cover;
    padding: 40px; 
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    border: 4px solid white; 
    max-width: 98%;
    margin-top: 10px;
    position: relative;
}

.articlearea{
    background-color: #a5cdff46;
}
.areas2{
    font-size: 40px;
    background-color: #a5cdff46;
    text-align: center;
    color: #e2e2e2;
}

.areas3{
    background-color: #a5cdff46;
    font-size: 20px;
    text-align: center;
    padding: 30px;
    color: #e2e2e2;
}



/* Equipo */

.fondoequipo{
    background-color: black;
}

.equipofoto{
    background-image: url(./assets/reuinion.jpg);

}

.sectionequipo{
    color: #141a35;
    text-align: center;
    text-transform: uppercase;
    width: 70%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.377);
    margin-top: 50px;
    float: left;
}
.tituloequipo{
    float: left;
    font-size: 35px;
    color: #e2e2e2;
    background-color: #a5cdff00;

}

.pequipo{
    margin-top: 100px;
    margin-left: 250px;
    color: #e2e2e2
    ;
}


.aequipo{
    background-color: #141a35;
    padding: 7px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #e2e2e2;
    box-shadow: 0 0 10px #f6f0ff;
    margin-left: 700px;
}

.desequipo{
    padding: 70px;
    text-align: center;
    font-size: 20px;
    display: block;
    line-height: 35px;
    background-color: #a5cdffa2;
}


/* Nosotros */

/* .nosotros{
    background-image: url(./assets/uba.jpg);
    height: calc(100vh - 80px);
    position: center
} */

.snosotros{
    color: #141a35;
    text-align: center;
    text-transform: uppercase;
    width: 50%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.377);
    margin-top: 50px;
    float: left;
}
.tnosotros{
    float: left;
    font-size: 35px;
    color: #e2e2e2;
    background-color: #a5cdff00;
    padding: 20px;
    text-align: center;
}

.pnosotros{
    margin-top: 100px;
    color: #e2e2e2;
    padding: 20px;

}

.anosotros{
    background-color: #77777c;
    padding: 7px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #e2e2e2;
    box-shadow: 0 0 10px #f6f0ff;
    margin-left: 400px;
}


/* Contacto */

.color1 {color: #a1caff;}
.color2 {color: #f2ecff;}
.color3 {color: #141a35;}
.color4 {color: #76777c;}
.color5 {color: #e2e2e2;}

body{
    background-color: #141a35;
}

.contenido{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.loggo{
    text-align: center;
    font-size: 3em;
    color: #a1caff;
    margin-bottom: 30px;
}

.loggo span{
    color: #e2e2e2;
}

.contacto-todo{
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.contacto-todo > * {
    padding: 1em;
}

.contact-form{
    background-color: #76777c75;
}

.contact-form{
    font-size: 20px;
    text-align: center;
}

.contact-form form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form .block{
    grid-column: 1 / 3;
}

.contact-form form p{
    margin: 0;
    padding: 1em;
}

.contact-form form button,
.contact-form form input, 
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: 0;
    background-color: none;
    border-bottom: 1px solid  #141a35;
    outline: none;
    color: #fff;
}

.contact-form form button {
    background-color: #141a35;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}


.contact-form form button:focus{
    background-color: #141a35;
    color: #fff;
    outline: 0;
    
}

.contact-info{
    background-color: #a1caffc4;
}

.contact-info h4,
.contact-info ul,
.contact-info p{
    text-align: center;
    margin: 0 0 1rem 0;
}

.contact-form ul{
    list-style-type: none;
    padding: 0;
}

.contact-info ul li{
    padding: .3em;
}

.contacto-todo{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.contacto-todo > * {
    padding: 2em;

}

.contact-info h4, .contact-info ul, .contact-info p{
    padding: 1em;
    text-align: left;
}